body{
    background-color: black;
    font-family: 'Bangers', cursive;
    margin: 0;
    padding: 0;
}
.rM{
    margin: 0;
}
.actualBody{
    width: 1024px;
    height: 1024px;
    background-image: url(./images/DALL·E\ 2023-03-01\ 12.13.43\ -\ anime\ style\ battle\ ground.png);
    margin: auto;
    background-color: black;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    visibility: visible;
}
.readability{
    background-color: white;
    opacity: 0.8;
    color: black;
    border-radius: 10px;
    width: fit-content;
}
/* header */
.header{
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}
/* Score Board */
.scoreBoard{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
}
.userContainer,
.villainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.gifContainer{
    width: 300px;
    height: auto;
    position: relative;
}

.firstGif{
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.allOtherGifs{
    position: absolute;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* Button Container */
.buttonContainer{
    width: 100%;
}
.selectionContainer{
    display: flex;
    justify-content: space-evenly;
}
.rockBtn,
.paperBtn,
.scissorBtn{
    height: 200px;
    width: auto;
    border-radius: 10px;
    opacity: 0.5;
}

.buttonActive{
    transform: scale(1.1);
    border-color: blue;
    box-shadow: 0 0 3rem blue;
}

.restartBtn{
    height: 50px;
    width: 200px;
}

/* Description */
.description{
    font-size: 25px;
    color: black;
}

.descriptionContainer{
    height: 200px;
    display: flex;
    align-items: end;
}
/* footer */

/* intro Popup */
.introPopup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: brown;
    position: 0;
    visibility: hidden;
}
/* Game Over PopUp */
.gameEndPopup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    position: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameEndPopup h1{
    font-size: 80px;
}
.gameEndPopup p{
    font-size: 40px;
}
.gameEndPopup button{
    width: 200px;
    height: 40px;
    border-radius: 10px;

}
